/* styles/global.css */

/* Estilos globales */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para el footer */
footer {
  margin-top: auto;
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

footer a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* Estilos para el contenido principal */
main {
  flex: 1 0 auto;
}
  