/* Navbar.css */

/* Centra los elementos en la vista móvil */
@media (max-width: 992px) {
    .navbar-nav {
      text-align: center;  /* Centra el contenido del navbar */
      width: 100%;  /* Asegura que ocupe todo el ancho disponible */
    }
  
    .navbar-nav .nav-item {
      display: inline-block; /* Alinea las opciones de menú en línea */
      margin: 0 10px; /* Espaciado entre los elementos */
    }
  
  }
  